<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="nav-header">
            <a href="/" class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            </a>
            <div class="input-group">
                <input type="search" placeholder="Buscar productos, marcas" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
         
            <div class="comprar-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>  
            </div>
        </div>        

        <ul class="site">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <br>
        <ul class="login-navbar">
            <li>
                <a href="/register">Creá tu cuenta</a> 
                <i class="fa-regular fa-address-card"></i>
            </li>
            
            <li>
                <a href="/login">Ingresá</a>
                <i class="fa-solid fa-right-to-bracket"></i>
            </li>
            <li>
                <a href="">Mis compras</a>
                <i class="fa-solid fa-basket-shopping"></i>
            </li>
        </ul>

        <br>
        <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt="banner">
        <section>
            <h3 class="tiulares">Basado en tu última visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" >
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" >
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" >
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>   
                </div>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart" >
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>    

        <section>
            <h3 class="tiulares">Ofertas</h3>
            <article >
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" >
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            
            <article >
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" >
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            
            <article >
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" >
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>   
                </div>
            </article>
            
            <article >
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart" >
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section> 
    </main>

    <footer>
        <section class="footer-descripcion">
            <i class="fa-solid fa-credit-card footer__icono"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer-descripcion">
            <i class="fa-solid fa-gift footer__icono"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer-descripcion">
            <i class="fa-solid fa-user-shield footer__icono"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="copyright">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>

</body>
</html>